@model CourseModel
@{
    ViewData["Title"] = "Add Course";
}

<form class="ui form" asp-controller="Home" asp-action="EditCourse" method="POST">
    <input name="CourseId" asp-for="CourseId" type="hidden" value="@Model.CourseId" />
    <div class="field">
        <label asp-for="Name">
            Name
        </label>
        <input asp-for="Name" type="text" name="Name" value="@Model.Name" />
        <span asp-validation-for="Name" class="validation error"></span>
    </div>
    <div class="field">
        <label asp-for="Description">
            Description
        </label>

        <textarea asp-for="Description" type="text" name="Description" value="@Model.Description"></textarea>
        <span asp-validation-for="Description" class="validation error"></span>
    </div>
    <div class="field">
        <label asp-for="Code">
            Code
        </label>
        <input asp-for="Code" type="text" name="Code" value="@Model.Code" />
        <span asp-validation-for="Code" class="validation error"></span>
    </div>
    <div class="field">
        <label asp-for="Semester">
            Semester
        </label>
        <input asp-for="Semester" type="number" name="Semester" value="@Model.Semester" />
        <span asp-validation-for="Semester" class="validation error"></span>
    </div>
    <div class="field">
        <label asp-for="ImgLoc">
            ImageLocation
        </label>
        <input asp-for="ImgLoc" type="text" name="ImgLoc" value="@Model.ImgLoc" />
        <span asp-validation-for="ImgLoc" class="validation error"></span>
    </div>
    <div class="field">
        <label asp-for="StartDate">
            StartDate
        </label>
        <input asp-for="StartDate" type="datetime-local" name="StartDate" value="@(Model.StartDate.HasValue ? Model.StartDate.Value.ToString("s") : "")" />
        <span asp-validation-for="StartDate" class="validation error"></span>
    </div>
    <div class="field">
        <label asp-for="EndDate">
            EndDate
        </label>
        <input asp-for="EndDate" type="datetime-local" name="EndDate" value="@(Model.EndDate.HasValue?Model.EndDate.Value.ToString("s") : "")" />
        <span asp-validation-for="EndDate" class="validation error"></span>
    </div>
    <div class="ui buttons">
        <button class="medium ui green button" type="submit">Edit Course</button>
        <a class="medium ui red button" asp-controller="Home" asp-action="Index">Cancel</a>
    </div>
</form>
@section scripts{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script>
    <script>
        new FroalaEditor('textarea', {
            toolbarButtons: [
                ['bold', 'italic', 'underline', 'paragraphFormat', 'formatOL', 'formatUL'],
                ['insertHTML', 'undo', 'redo', 'html']
            ]
        });
    </script>
}