@model OverviewModel
<div class="ui link cards">
    @foreach (var course in Model.Courses)
    {
        <div class="card" onclick="goToSubjectOverview(@course.CourseId)">
            <div class="image"><img src="@course.ImgLoc"></div>
            <div class="content">
                <div class="header">@course.Name</div>
                <div class="meta"><a>@course.Code</a></div>
                <div id="Description_@course.CourseId"
                     class="description">@course.Description</div>
                </div>
                <div class="extra content">
                    @if (User.IsInRole("Admin"))
                    {
                        <div class="ui two buttons">

                            <a class="ui green button" asp-controller="Home" asp-action="EditCourse" asp-route-id="@course.CourseId">Edit</a>
                            <a class="ui red button" asp-controller="Home" asp-action="DeleteCourse" asp-route-id="@course.CourseId">Delete</a>
                        </div>
                    }
                    <span class="right floated">Semester @course.Semester</span>
                </div>
            </div>
            <script>
            $(document).ready(() => {
                $("#Description_@course.CourseId").html(decodeHTML("@course.Description"));
            });
            </script>
        }
</div>