@model OverviewModel
<div class="ui link cards">
    @foreach (var course in Model.Courses)
    {
        <div class="card" onclick="goToSubjectOverview(@course.CourseId)">
            <div class="image"><img src="@course.ImgLoc"></div>
            <div class="content">
                <div class="header">@course.Name</div>
                <div class="meta"><a>@course.Code</a></div>
                <div class="description">@course.Description</div>
            </div>
            <div class="extra content">
                <span class="right floated">Semester @course.Semester</span>
            </div>
        </div>
    }
</div>